.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 37px 100px;
  background-color: #141D2F; 


  .logo {
    .name {
      font-size: 34px;
      font-weight: bold;
      color: #ffffff; 
      font-family: 'Poppins', sans-serif;

    }
  }

  .nav {
    ul {
      list-style: none;
      display: flex;
      gap: 29px;

      li {
        a {
          color: #ffffff; 
          text-decoration: none;
          font-size: 23px;
          font-weight: 1;
          font-family: 'Poppins', sans-serif;


          &:hover {
            color: #70E61C; 
          }
        }
      }
    }
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  z-index: 1000; 
  background-color: #141D2F; 
}

