<header class="header">
  <div class="logo">
    <span class="name">Salmai</span>
  </div>

  <!-- Burger-Menü-Button -->
  <div class="burger-menu" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <nav class="nav" [ngClass]="{'open': isMenuOpen}">
    <ul>
      <li><a href="#about-me" (click)="closeMenu()">{{'about' | translate}}</a></li>
      <li><a href="#skills" (click)="closeMenu()">{{'skills' | translate}}</a></li>
      <li><a href="#portfolio" (click)="closeMenu()">{{'portfolio' | translate}}</a></li>
    </ul>

    <div class="language">
      <p (click)="translate.switchLanguage('en')">EN</p>
      <p (click)="translate.switchLanguage('de')">DE</p>
    </div>
  </nav>
</header>
