.hero-container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #141D2F;
  overflow: hidden; 
  margin-top: 100px;


  .scroll-text {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    bottom: 67px;
    right: 30px;
    font-weight: 0px;
    transform: rotate(90deg);
    font-size: 23px;
    color: #ffffff;
    letter-spacing: 1px;
    cursor: pointer;
  }

  .hero-content {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .cta-container {
    margin-top: 7rem;
  }

  .hero-left {
    margin-right: 20px;
    align-items: center;


    .vertical-text {
      writing-mode: vertical-rl;
      text-orientation: mixed;
      color: white;
      font-size: 2rem;
    }
  }

  .hero-center {
    text-align: center;

    h1 {
      color: white;
      font-size: 128px;
      font-family: 'Poppins', sans-serif;
      margin: 0;
    }

    h2 {
      color: #9747FF;
      font-size: 60px;
      font-family: 'Poppins', sans-serif;
      margin: 10px 0;
      text-align: left;
      font-weight: 1;
    }

    .cta-button {
      margin-top: 20px;
      font-family: 'Poppins', sans-serif;
      width: 165px;
      height: 58px;
      padding: 15px 30px; 
      font-size: 1.5rem;
      background-color: #70E61C;
      color: white;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      transition: transform 0.3s ease, background-color 0.3s ease; 
      &:hover {
        background-color: #9747FF;
        transform: scale(1.2); 
      }
    }
  }

  .color-blob {
    position: absolute;
    width: 800px; 
    height: 800px;
    object-fit: cover;
  }

  .left-blob {
    left: 130px; 
    transform: translateX(-50%); 
  }

  .right-blob {
    right: 0px;
    transform: translateX(60%);
    bottom: 10%;
    height: 800px;
    width: 800px;
    transform: translateX(55%);

  }

  .social-section {
    position: absolute;
    bottom: 20px; //
    left: -2px;
    display: flex;
    align-items: center;
    gap: 42px;

    .green-line {
      width: 100px;
      height: 4px;
      background-color: #70E61C;
      margin-right: 20px;
      border-radius: 4px;
    }

    .social-icons {
      display: flex;
      gap: 42px;
    }

    .social-icon {
      width: 30px;
      height: 30px;
      cursor: pointer;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1); 
      }
    }
  }

}


.intro-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.intro {
  font-family: 'Poppins', sans-serif;
  font-size: 90px;
  letter-spacing: 0.1em;
  color: white;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  height: auto;

}