<div class="hero-container">
  <div class="hero-content">
    <div class="hero-left">
      <div class="intro-text">
        <span class="intro">{{'iam' | translate }}</span>
      </div>
    </div>
    <div class="hero-center">
      <h1>Salmai Safi</h1>
      <h2>{{'developer' | translate }}</h2>
      <button class="cta-button" (click)="scrollToContact()">{{'talk' | translate }}</button>
    </div>
  </div>
  <!-- Bild als <img>, ohne Top-Angabe, zentral und an den Rändern -->
  <img src="./assets/img/30. Purple shadow about me.png" alt="Left Blob" class="color-blob left-blob">
  <img src="./assets/img/52. Blue shadow 1 V2.png" alt="Right Blob" class="color-blob right-blob">

  <!-- Neuer Container für den grünen Strich und die Icons -->
  <div class="social-section">
    <div class="green-line"></div>
    <div class="social-icons">
      <img src="./assets/img/giticon.png" alt="GitHub" class="social-icon" />
      <a href="https://www.linkedin.com/feed/?trk=guest_homepage-basic_nav-header-signin" target="_blank" rel="noopener noreferrer">
        <img src="./assets/img/inicon.png" alt="LinkedIn" class="social-icon" />
      </a>
      <img src="./assets/img/mailicon.png" alt="LinkedIn" class="social-icon" />
    </div>
  </div>

  <!-- Neuer Container für den Scroll-Text -->
  <div class="scroll-text">
    <span>{{'scroll' | translate }} ⇨ </span>
  </div>
</div>