<section>
  <div id="skills" class="skills-section">
    <div class="logos-container">
      <div class="logo-group">
        <div class="logo-item">
          <img src="./assets/img/html.png" alt="HTML Logo" />
          <p>HTML</p>
        </div>
        <div class="logo-item">
          <img src="./assets/img/css.png" alt="CSS Logo" />
          <p>CSS</p>
        </div>
        <div class="logo-item">
          <img src="./assets/img/javscript.png" alt="JavaScript Logo" />
          <p>JavaScript</p>
        </div>
        <div class="logo-item">
          <img src="./assets/img/typescript.png" alt="TypeScript Logo" />
          <p>TypeScript</p>
        </div>
      </div>

      <div class="logo-group">
        <div class="logo-item">
          <img src="./assets/img/angulatr.png" alt="Angular Logo" />
          <p>Angular</p>
        </div>
        <div class="logo-item">
          <img src="./assets/img/firebase.png" alt="Firebase Logo" />
          <p>Firebase</p>
        </div>
        <div class="logo-item">
          <img src="./assets/img/git.png" alt="Git Logo" />
          <p>Git</p>
        </div>
        <div class="logo-item">
          <img src="./assets/img/api.png" alt="Rest-API Logo" />
          <p>Rest-API</p>
        </div>
      </div>

      <div class="logo-group">
        <div class="logo-item">
          <img src="./assets/img/scrum.png" alt="Scrum Logo" />
          <p>Scrum</p>
        </div>
        <div class="logo-item">
          <img src="./assets/img/materialdesign.png" alt="Material Design Logo" />
          <p>Design</p>
        </div>
      </div>

      <div class="logo-group">
        <div class="logo-item">
          <img src="./assets/img/commi.png" alt="Continually learning Logo" />
          <p>learning</p>
        </div>
      </div>
    </div>


    <div class="skills-content">
      <div class="skills-heading">
        <div>
          <h1>Skills</h1>
        </div>
        <div class="blue-line"></div>
      </div>
      <div class="skills-description">
        <p>{{'journey' | translate }}
        </p>
        <!-- Der neue Div für die logos der mobilen Version -->
        <div class="logos-container-mobile">
          <div class="logo-group">
            <div class="logo-item">
              <img src="./assets/img/html.png" alt="HTML Logo" />
              <p>HTML</p>
            </div>
            <div class="logo-item">
              <img src="./assets/img/css.png" alt="CSS Logo" />
              <p>CSS</p>
            </div>
            <div class="logo-item">
              <img src="./assets/img/javscript.png" alt="JavaScript Logo" />
              <p>JavaScript</p>
            </div>
            <div class="logo-item">
              <img src="./assets/img/typescript.png" alt="TypeScript Logo" />
              <p>TypeScript</p>
            </div>
          </div>

          <div class="logo-group">
            <div class="logo-item">
              <img src="./assets/img/angulatr.png" alt="Angular Logo" />
              <p>Angular</p>
            </div>
            <div class="logo-item firebase">
              <img src="./assets/img/firebase.png" alt="Firebase Logo" />
              <p>Firebase</p>
            </div>
            <div class="logo-item git">
              <img src="./assets/img/git.png" alt="Git Logo" />
              <p>Git</p>
            </div>
            <div class="logo-item">
              <img src="./assets/img/api.png" alt="Rest-API Logo" />
              <p>Rest-API</p>
            </div>
          </div>

          <div class="logo-group">
            <div class="logo-item">
              <img src="./assets/img/scrum.png" alt="Scrum Logo" />
              <p>Scrum</p>
            </div>
            <div class="logo-item">
              <img src="./assets/img/materialdesign.png" alt="Material Design Logo" />
              <p>Design</p>
            </div>
          </div>

          <div class="logo-group">
            <div class="logo-item">
              <img src="./assets/img/commi.png" alt="Continually learning Logo" />
              <p>learning</p>
            </div>
          </div>
        </div>
        <h2>{{'look' | translate }} <span>{{'another' | translate }}</span></h2>
        <p>{{'free' | translate }}.</p>
      </div>
      <div class="get-in-touch">
        <button>{{'button' | translate }}</button>
      </div>
    </div>
  </div>
</section>