<section class="about-me">
    <div class="about-content">
      <!-- Linker Bereich mit Text -->
      <div class="about-text">
        <h2>About me</h2>
        <p>Hey there! I'm Simon, a frontend developer fueled by a passion for crafting user-friendly digital experiences. With a talent for problem-solving and an eye for detail, I specialize in translating complex ideas into elegant designs.</p>
        <p>Let's connect and create something amazing together!</p>
  
        <!-- Weitere Absätze mit Icons als Bilder -->
        <div class="about-details">
          <p><img src="./assets/img/gps.png" alt="Location Icon" class="icon"> Flexible in terms of working environments, I can work effectively both on-site in Munich and remotely.</p>
          <p><img src="./assets/img/birne.png" alt="Lightbulb Icon" class="icon"> I am open-minded and always looking for personal challenges to constantly improve my knowledge and skills.</p>
          <p><img src="./assets/img/puzzle.png" alt="Tool Icon" class="icon"> In my profession, programming isn't just about writing code; it's a creative form of problem-solving.</p>
        </div>
      </div>
  
      <!-- Rechter Bereich mit Bild und farbigem Hintergrund -->
      <div class="about-image-container">
        <!-- <img src="./assets/images/person.png" alt="Person Image" class="person-img"> -->
        <img src="./assets/img/29. photo shadows.png" alt="Purple Background" class="background purple">
      </div>
    </div>
  </section>
  
