<div class="portfolio-container">
  <div class="portfolio-header">
    <div class="purple-line"></div>
    <div class="header-text">
      <h1>Portfolio</h1>
      <p class="portfolio-description">{{'explain' | translate }}</p>
    </div>
  </div>

  <div class="portfolio-content">
    <div class="image-row">
      <div class="image-item">
        <img src="./assets/img/Pokedex.png" alt="Project 1">
        <div class="overlay-buttons">
          <a href="https://github.com/project1" target="_blank">GitHub</a>
          <a href="https://live-demo-link1.com" target="_blank">Live Test</a>
        </div>
        <div class="overlay">
          <div class="overlay-text">
            <h3>Pokedex</h3>
            <p>{{'pokedex' | translate }}</p>
            <p style="color:#70E61C;">JavaScript | HTML | CSS</p>
          </div>
        </div>
      </div>

<!--       <img src="./assets/img/greenshadow.png" class="background-image">
 -->

      <div class="image-item">
        <img src="./assets/img/join.png" alt="Project 2">
        <div class="overlay-buttons">
          <a href="#'" target="_blank">GitHub</a>
          <a href="#" target="_blank">Live Test</a>
        </div>
        <div class="overlay">
          <div class="overlay-text">
            <h3>Join App</h3>
            <p>{{'join' | translate }}</p>
            <p style="color: #70E61C;">JavaScript | HTML | CSS</p>
          </div>
        </div>
      </div>
    </div>

    <div class="image-row">
      <div class="image-item">
        <img src="./assets/img/pololoco.png" alt="Project 3">
        <div class="overlay-buttons">
          <a href="https://github.com/project3" target="_blank">GitHub</a>
          <a href="https://live-demo-link3.com" target="_blank">Live Test</a>
        </div>
        <div class="overlay">
          <div class="overlay-text">
            <h3>El Pollo Loco</h3>
            <p>{{'polloloco' | translate }}</p>
            <p style="color: #70E61C;">JavaScript | HTML | CSS</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
